<app-header></app-header>
<h2> Roll the Dice</h2>

@if( rollData != undefined){
  <app-dice-display [diceValues]="rollData.values"></app-dice-display>
  <p>
    Total: {{ rollData.total }}
  </p>
}
<p>
  <label>Number of Dice: </label>
  <select [(ngModel)]="numberOfDice">
    <option [value]="1">1</option>
    <option [value]="2">2</option>
    <option [value]="3">3</option>
    <option [value]="4">4</option>
    <option [value]="5">5</option>
  </select>
</p>
<p>
  <button (click)="onRoll()">Roll</button>
</p>
<app-footer name="Applied Computing"></app-footer>
